@import "golden-layout/dist/css/goldenlayout-base.css";
@import "golden-layout/dist/css/themes/goldenlayout-dark-theme.css";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menuContainer {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  overflow-y: auto;
}

#bottomMenuContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15%;
  height: 15%;
  background: #222;
  box-sizing: border-box;
  border-top: 2px solid #111;
  overflow-y: auto;
}

* li,
#toggleButton {
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #bbb;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

* li:hover {
  background: #111;
  color: #ccc;
}

#buttonList button {
  color: #bbb;
  background: #1a1a1a;
  display: block;
  margin: 5px 15px 5px;
  padding: 8px 12px;
  border-left: 5;
  width: 80%;
  font-size: 14px;
  cursor: pointer;
}

#layoutContainer {
  flex: 1;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  box-shadow: -3px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
