@import "golden-layout/dist/css/goldenlayout-base.css";
@import "golden-layout/dist/css/themes/goldenlayout-dark-theme.css";

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #1a1a1a;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menuContainer {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  overflow-y: auto;
  box-sizing: border-box;
}

#bottomMenuContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15%;
  height: 15%;
  background: #222;
  border-top: 2px solid #111;
  overflow-y: auto;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}

* li {
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;

  cursor: pointer;
  padding: 10px 5px;
  color: #bbb;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#toggleButton,
#buttonList button {
  border-width: 1px;
  cursor: pointer;
  padding: 10px 5px;
  color: #bbb;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#toggleButton:active,
#buttonList button:active {
  border-left-color: #222;
}

#menuContainer li:hover,
#toggleButton:hover,
#buttonList button:hover {
  background: #111;
  color: #ccc;
}

#buttonList button {
  display: block;
  margin: 5px 15px 5px;
  padding: 5px;
  width: 80%;
  font-size: 12px;
  cursor: pointer;
}

#layoutContainer {
  flex: 1;
  width: 85%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 15%;
  box-shadow: -3px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
